<!--The content below is only a placeholder and can be replaced.-->


<app-navbar></app-navbar>

<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet> -->


<!--
<app-landingscreen></app-landingscreen>-->


<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!--<br/>
<br/>

<div class="container">
<app-repairdialog></app-repairdialog>
</div>




<br/>
<br/>

<div class="container">
<app-technician-application></app-technician-application>
</div>-->

<!--
<br/>
<br/>-->




<!--################################################-->


<!--The content below is only a placeholder and can be replaced.-->
 


<!--<app-landingscreen></app-landingscreen>-->


<br/>
<br/>

<div class="container">
<router-outlet></router-outlet>
</div>

<br/>
<br/>




